@import "../../styles/mixins";
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 18rem;
  background-color: $theme-dark-violet;
  background-image: url("/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  h2 {
    font-size: 1.6rem;
    color: $theme-white;
    font-weight: bold;
  }
  a {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.2rem;
    color: $theme-white;
    padding: 0.8rem 2.5rem;
    margin-top: 1.5rem;
    background-color: $theme-cyan;
    border-radius: 3rem;
    font-weight: bold;
    transition: background-color 0.22s;

    @include media-hover {
      &:hover {
        background-color: lighten($theme-cyan, 30%);
        color: $theme-white;
      }
    }
    &:active {
      background-color: lighten($theme-cyan, 30%);
      color: $theme-white;
    }
  }
}

@include media-responsive($lg) {
  .cta {
    height: 250px;
    background-image: url("/images/bg-boost-desktop.svg");
    //background-size: auto;
    h2 {
      font-size: 2.6rem;
    }
  }
}
